
div {
    border: 1px solid #c8ccd1;
	border-radius: 12px;
padding-top: 32px;
padding-bottom: 32px;
padding-left: 24px;
padding-right: 24px;
margin: 20px;
background-color: #f8f9fa;
}

h1 {

margin:0px;
}

p {

margin: 0px;
}

